<%= render_asset_friend_js( @assets, @friends ) %>
<%= deluuxjournal_js_include %>

<div id="blogheader" class="section yui-g">
  <h1>Edit Entry</h1>
</div>
<%= error_messages_for :note %>

<% form_for(@note, :url => "#{params[:dl_sig_root_loc]}/update/#{@note.id}", :html => {:id => "update_note"}) do |f| %>
<div class="yui-ge">
  <div class="yui-u first">

    <p>
      <%= text_field_tag :title, @note.title, :style => "width:29em;height:1.4em;font-size:2em;", :class => "text_field" %>
    </p>

    <p>
      <%= text_area_tag :text, @note.text, :style => "width:45em; height:600px; font-size:1.6em;" %>
    </p>
    <%= hidden_field_tag :id, @note.id %>

    <p style="font-size: 1.5em; text-align: center; width: 100%;">
      <%= submit_tag( "Update" ) %> or <%= link_to( "Cancel", :action => "index" ) %>
    </p>
    <h3>Click on your photos and include them!</h3>
    <a href="#grid" style="display:none;" onclick="render_prev_grid_page();" id="prev_grid_page_link">Previous Page</a>
    <a href="#grid" onclick="render_next_grid_page();" id="next_grid_page_link">Next Page</a>
    <a name="grid" id="grid"></a>
    <%= render_asset_grid(4,4) %>
    <script type="text/javascript">
      render_grid(1);
    </script>

  </div>

  <div class="yui-u">
    <div id="friend_recommend" class="subsection">
      <div id="friend_target">
      </div>
    </div>
    <div id="friend_notify" class="subsection">
      <h4><b>You've told:</b></h4>
      <div id="friend_notify_target">
       <i>Nobody yet!</i>
      </div>
    </div>

    <div id="lj_crosspost" class="subsection">
      <h4><b>Update on LiveJournal:</b></h4>
      <div id="lj_fields">
      <div style="width: 5em; float: left; text-align: right;">Login:</div><%= text_field_tag :lj_login, nil, :class => "text_field", :style => "width: 7em;" %><br/>
      <div style="width: 5em; float: left; text-align: right;">Password:</div><%= password_field_tag :lj_password, nil, :class => "password_field", :style => "width: 7em;" %>
      </div>
    </div>

  </div>
</div>
<% end %>

