<%= render_asset_friend_js( @assets, @friends ) %>

<div id="blogheader" class="section yui-g">
  <h1>Edit Entry</h1>
</div>
<%= error_messages_for :note %>

<% form_for(@note, :url => {:action => "update"}, :html => {:id => "new_note"}) do |f| %>
<div class="yui-ge">
  <div class="yui-u first">

    <p>
      <%= text_field_tag :title, @note.title, :style => "width:100%;height:1.4em;font-size:2em;", :class => "text_field" %>
    </p>

    <p>
      <%= text_area_tag :text, @note.text, :style => "width:100%; height:600px; font-size:1.6em;" %>
    </p>
    <%= hidden_field_tag :id, @note.id %>

    <% params.each{|k,v| %>
      <%= hidden_field_tag( k, v ) if k[0..2]=="dl_" %>
    <% } %>

    <p style="font-size: 1.5em; text-align: center; width: 100%;">
      <%= submit_tag( "Update" ) %> or <%= app_link_to( "Cancel", :action => "index" ) %>
    </p>

  </div>

  <div class="yui-u">
    <div id="friend_recommend" class="subsection">
      <div id="friend_target">
      </div>
    </div>
    <div id="friend_notify" class="subsection">
      <h4><b>You've told:</b></h4>
      <div id="friend_notify_target">
       <i>Nobody yet!</i>
      </div>
    </div>

    <div id="lj_crosspost" class="subsection">
      <h4><b>Update on LiveJournal:</b></h4>
      <div id="lj_fields">
      <div style="width: 5em; float: left; text-align: right;">Login:</div><%= text_field_tag :lj_login, nil, :class => "text_field", :style => "width: 7em;" %><br/>
      <div style="width: 5em; float: left; text-align: right;">Password:</div><%= password_field_tag :lj_password, nil, :class => "password_field", :style => "width: 7em;" %>
      </div>
    </div>

  </div>
</div>
<% end %>

