<div id="blogheader" class="section yui-g">
  <h1>My Blog</h1>
</div>
<div class="yui-ge">
  <div class="yui-u first">
    <% for note in @notes[0...3] %>
    <div class="note section" style="padding-top: 0.5em; padding-left: 1em; border: 2px solid #A6E3F9; background-color: #D6F3F9; padding-bottom: 2em;" >
      <h2 class="title subsection" style="text-align: left; font-weight: bolder;">
        <%= app_link_to note.title , {:action => :show, :id => note.id}, {:class => "edit"} %>
      </h2>
      <div class="text subsection" style="max-height: 7em; overflow: hidden;">
        <%= note.text %>
      </div>
      <div style="float: left; font-style: italic;">
        Written <%= time_ago_in_words(note.created_at) %> ago.
      </div>
      <div style="float: right; font-weight: bolder; padding-right: 1em;">
        <%= app_link_to 'Read' , {:action => :show, :id => note.id}, {:class => "show"} %>
        <% if is_owner? %>
          <%= app_link_to 'Edit' , {:action => :edit, :id => note.id}, {:class => "edit"} %>
          <%= app_link_to 'Delete' , {:action => :destroy, :id => note.id}, {:class => "destroy"} %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="yui-u">
    <ul style="margin-left: 2em;">
      <% if is_owner? %>
      <div style="margin-bottom: 2em; font-weight: bolder; margin-top: 1em; font-size: 1.5em;">
        <%= app_link_to 'New Entry', {:action => :new}, {:class => :new} %>
      </div>
      <% end %>
    <h3>Past Entries</h3>
    <% for note in @notes %>
      <% if note.title.length > 0 %>
        <li style="list-style-position: inside;"><%= app_link_to abbreviate(note.title, 15), {:action => :show, :id => note.id}  %></li>
      <% else %>
        <li style="list-style-position: inside;"><%= app_link_to note.created_at.strftime("%d/%m/%y %H:%M"), {:action => :show, :id => note.id}  %></li>
      <% end %>
    <% end %>
   </ul>
  </div>
</div>


