<%= render_asset_friend_js( @assets, @friends ) %>
<%= deluuxjournal_js_include %>


<% form_for(@note, :url => "#{params[:dl_sig_root_loc]}/create", :html => {:id => "new_note"}) do |f| %>
<div class="yui-ge">
  <div class="yui-u first">

    <p>
      <%= text_field_tag :title, nil, :style => "width:29em;height:1.4em;font-size:1.5em;", :class => "text_field" %>
    </p>

    <p>
      <%= text_area_tag :text, nil, :style => "width:45em; height:400px; font-size:1em;" %>
    </p>

    <%= hidden_field_tag :notify_id_list %>

    <p style="font-size: 1.5em; text-align: center; width: 100%;">
      <%= submit_tag( "Create" ) %> or <%= link_to( "Cancel", "/#{params[:dl_sig_stub]}/index" ) %>
    </p>
    <h3>Click on your photos and include them!</h3>
    <a href="#grid" style="display:none;" onclick="render_prev_grid_page();" id="prev_grid_page_link">Previous Page</a>
    <a href="#grid" onclick="render_next_grid_page();" id="next_grid_page_link">Next Page</a>
    <a name="grid" id="grid"></a>
    <%= render_asset_grid(4,4) %>
    <script type="text/javascript">
      render_grid(1);
    </script>
  </div>
  <style>
  div#friend_target li {
    list-style-type: disc;
    list-style-position: inside;
  }
  div#friend_target li.second_level{
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 2em;
  }

  </style>
  <div class="yui-u">
    <div id="friend_recommend" class="subsection">
      <div id="friend_target">
      </div>
    </div>
    <div id="friend_notify" class="subsection">
      <h4><b>You're telling:</b></h4>
      <div id="friend_notify_target">
       <i>Nobody yet!</i>
      </div>
    </div>

    <div id="lj_crosspost" class="subsection">
      <h4><b>Crosspost to LiveJournal:</b></h4>
      <div id="lj_fields">
      <div style="width: 5em; float: left; text-align: right;">Login:</div><%= text_field_tag :lj_login, nil, :class => "text_field", :style => "width: 7em;" %><br/>
      <div style="width: 5em; float: left; text-align: right;">Password:</div><%= password_field_tag :lj_password, nil, :class => "password_field", :style => "width: 7em;" %>
      </div>
    </div>

  </div>
</div>
<% end %>

