<h1 style="text-align: center">
  <%= @note.title %>
</h1>

<% if is_owner? %>
<div style="font-style: italic; float: right; padding-right: 2em;">
  You wrote this <%= time_ago_in_words(@note.created_at) %> ago and can <%= link_to 'edit' , {:action => :edit, :id => @note.id}, {:class => "edit"} %>
  or <%= link_to 'delete' , {:action => :destroy, :id => @note.id}, {:class => "destroy"} %> it.
</div>
<% end %>

<div style="padding: 2em;">
  <%= @note.text %>
</div>

