<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= (defined? title and !title.nil?) ? title : "Deluux" %></title>
  <link rel="stylesheet" type="text/css" href="/build/base/base-min.css" />
  <link rel="stylesheet" type="text/css" href="/build/reset-fonts-grids/reset-fonts-grids.css" />
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'color.css' %>
</head>

<body>
  <div id="doc">
    <div id="hd">
      <div id="header">
        Deluux Blog
      </div>
    </div>
    <div>
      <%= yield %>
    </div><!-- yui-gc -->
    <div id="ft">
    </div>
  </div>
</body>
</html>


